{% extends 'base.html.twig' %}
{% block body %}
    {% if messages %}
        <table>
            <tr>
                <td>ID</td>
                <th>Sender</th>
                <th>Recipient</th>
                <th>Status</th>
            </tr>
            {% for message in messages %}
                <tr>
                    <td>{{ message.id }}</td>
                    <td>{{ message.sender.email }}</td>
                    <td>{{ message.recipientNumber }}</td>
                    <td>{{ message.statusText }}</td>
                </tr>
            {% endfor %}
        </table>
    {%  else  %}
        <p>No messages</p>
    {% endif %}

    {% if isLimited %}
        <p>Rate limited</p>
    {% else %}
        <p><a href="/sms/send">Send Message</a></p>
    {% endif %}
{% endblock %}