{% extends 'base.html.twig' %}
{% block body %}
    <table>
        <tr>
            <td>ID</td>
            <th>Sender</th>
            <th>Recipient</th>
            <th>Status</th>
        </tr>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.sender.email }}</td>
                <td>{{ message.recipientNumber }}</td>
                <td>{{ message.statusText }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}